---
import Layout from "@layouts/layout.astro";
---

<Layout title="Archimedes">
  <div class="mt-10 mb-6 prose">
    <h1 class="mb-4">Authorized!</h1>
    <p class="my-0">You may close this window.</p>
  </div>
</Layout>