---
import Layout from "@layouts/layout.astro";
---

<Layout title="Archimedes">
  <div class="mt-10 mb-6 prose">
    <h1 class="mb-4">Hey, you found Archimedes!</h1>
    <p class="my-0">Archimedes is a bot for the Hack Club Slack that helps with Happenings.</p>
    <p class="my-0">Here's what he handles:</p>
    <ul>
      <li>Approval system for Happenings "stories" (think of these as mini posts)</li>
      <li>Slack messages in #happenings with all approved stories</li>
      <li>Auto-generation of Loops campaigns</li>
    </ul>
  </div>
</Layout>