---
import { getCollection } from "astro:content";

import BlogPostPreview from "@components/misc/blog-post-preview.astro";
import Layout from "@layouts/layout.astro";

const blogCollection = await getCollection("blog");
const posts = blogCollection
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout title="Blog">
  <div class="prose prose-custom mt-10 mb-6">
    <h1>Blog</h1>
  </div>
  <div>
    <ol class="space-y-2.5">
      {posts.map((post) => <BlogPostPreview post={post} />)}
    </ol>
  </div>
</Layout>
