---
import { getCollection } from "astro:content";

import Layout from "@layouts/layout.astro";
import BlogPostPreview from "@components/misc/blog-post-preview.astro";

const blogCollection = await getCollection("blog");
---

<Layout title="Blog">
  <div class="prose mt-10 mb-6">
    <h1>Blog</h1>
  </div>
  <div>
    <ol class="space-y-4">
      {
        blogCollection
          .filter((post) => !post.data.draft)
          .map((post) => <BlogPostPreview post={post} />)
      }
    </ol>
  </div>
</Layout>
