---
import { getCollection } from "astro:content";

import Layout from "../../layouts/layout.astro";
import BlogPostPreview from "../../components/misc/blog-post-preview.astro";

const blogCollection = await getCollection("blog");
---

<Layout title="Blog">
  <div class="text-center mb-6">
    <h1 class="text-4xl font-bold">Blog</h1>
  </div>
  <div>
    <ol>
      {blogCollection.map((post) => <BlogPostPreview post={post} />)}
    </ol>
  </div>
</Layout>
