<header class="flex">
  <a href="/" class="font-semibold">Mahad Kalam</a>
  <ul class="ml-auto flex gap-2 text-subtext0 hover:*:text-subtext1">
    <li class="*:underline *:underline-offset-[3px] *:decoration-white/30">
      <a href="/">e</a>
    </li>
  </ul>
</header>
