---
import { Image } from "astro:assets";
import HcIcon from "@assets/img/hc-icon.svg";
import { getWebring } from "@/util";

const { previous: initialPrevious, next: initialNext } = await getWebring(
  Astro.url,
);
---

<div class="flex gap-2 items-center">
    <a href={initialPrevious.url} rel="nofollow" id="webring-previous" class="text-2xl text-text/50 p-1 hover:text-text/80 transition duration-150" title="Previous">‹</a>
    <a href="https://webring.hackclub.com/" title="Hack Club Webring">
        <Image src={HcIcon} alt="Hack Club icon" width={32} height={32} />
    </a>
    <a href={initialNext.url} rel="nofollow" id="webring-next" class="text-2xl text-text/50 p-1 hover:text-text/80 transition duration-150" title="Next">›</a>
</div>

<script>
    // The webring might've changed since the page was built, so we need to update it
    async function updateWebring() {
        const response = await fetch("/api/webring");
        const { previous, next } = await response.json();
        document.getElementById("webring-previous")?.setAttribute("href", previous.url);
        document.getElementById("webring-next")?.setAttribute("href", next.url);
    };

    updateWebring();
</script>