---
import Layout from "@layouts/layout.astro";

import { DISCORD_USER_ID } from "astro:env/client";
---

<Layout title="Contact">
  <div class="w-full max-w-full">
    <div class="mt-10 mb-6">
      <h1 class="text-4xl font-extrabold mb-2">Contact</h1>
      <p>Want to get in touch? Here are some ways to reach me:</p>
    </div>

    <div class="prose prose-custom mt-10 mb-6">
      <ul>
        <li>
          <a href="mailto:hey@mahadk.com">Email</a> – <a
            href="mailto:hey@mahadk.com"><b>hey@mahadk.com</b></a
          >
        </li>
        <li>
          <a href="https://github.com/skyfallwastaken">GitHub</a> – SkyfallWasTaken
        </li>
        <li>
          <a href={`https://discord.com/users/${DISCORD_USER_ID}`}>Discord</a> – @skyfallpowered
        </li>
        <li>
          <a href="https://x.com/skyfall_ggs">Twitter/X</a> – @skyfall_ggs
        </li>
      </ul>
    </div>
  </div>
</Layout>
