---
import Layout from "@layouts/layout.astro";

import { DISCORD_USER_ID } from "astro:env/client";
---

<Layout title="Contact">
  <div class="w-full max-w-full">
    <div class="mt-10 mb-6">
      <h1 class="text-4xl font-extrabold mb-2">Contact</h1>
      <p>
        If you'd like to get in touch or just say hello, here's a few ways to do
        so:
      </p>
    </div>

    <div class="prose prose-custom mt-10 mb-6">
      <ul>
        <li>
          <b>By email:</b> – <a href="mailto:hey@mahadk.com"
            ><b>hey@mahadk.com</b></a
          >
        </li>
        <li>
          <b>GitHub:</b> – <a href="https://github.com/SkyfallWasTaken"
            >github.com/SkyfallWasTaken</a
          >
        </li>
        <li>
          <b>On Discord:</b> –
          <a href={`https://discord.com/users/${DISCORD_USER_ID}`}
            >@skyfallpowered</a
          >
          <br />
          <small class="text-muted"
            >Note that I don't check Discord often - if you need a quick
            response, email is best.</small
          >
        </li>
        <li>
          <b>On Twitter/X:</b> – <a href="https://x.com/skyfall_ggs"
            ><b>@skyfall_ggs</b></a
          >
        </li>
      </ul>
    </div>
  </div>
</Layout>
