---
import { getCollection } from "astro:content";

import BlogPostPreview from "@components/misc/blog-post-preview.astro";
import ProjectGrid from "@components/misc/project-grid.astro";
import Hero from "@components/home/hero.astro";
import Layout from "@layouts/layout.astro";
import ArrowRightIcon from "lucide-astro/ArrowRight";

const blogCollection = await getCollection("blog");
const projectsCollection = await getCollection("projects");

const posts = blogCollection
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const latestThreePosts = posts.slice(0, 3);

const pinnedProjects = projectsCollection.filter(
  (project) => project.data.pinned,
);
---

<Layout title="Home">
  <div class="space-y-9">
    <Hero />

    <div class="flex flex-col gap-2.5">
      <div class="flex">
        <h2 class="font-semibold text-lg">Projects</h2>
        <a
          href="/projects"
          class="ml-auto text-subtext0 hover:text-sky transition underline flex gap-1 items-center"
        >
          View all
          <ArrowRightIcon class="w-4 h-4" />
        </a>
      </div>
      <ProjectGrid projects={pinnedProjects} maxThreeOnMobile />
    </div>

    <div class="flex flex-col gap-2.5">
      <div class="flex">
        <h2 class="font-semibold text-lg">Blog</h2>
        <a
          href="/posts"
          class="ml-auto text-subtext0 hover:text-sky transition underline flex gap-1 items-center"
        >
          View all
          <ArrowRightIcon class="w-4 h-4" />
        </a>
      </div>
      <ul class="space-y-2 leading-tight flex flex-col gap-2 sm:gap-0">
        {latestThreePosts.map((post) => <BlogPostPreview post={post} />)}
      </ul>
    </div>
  </div>
</Layout>
