---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { intlFormatDistance } from "date-fns";

import Layout from "../layouts/layout.astro";
import Button from "../components/ui/button.astro";
import Badge from "../components/ui/badge.astro";
import OnlineStatus from "../components/home/online-status.astro";
import BlogPostPreview from "../components/misc/blog-post-preview.astro";

import RustIcon from "../components/home/rust-icon.astro";
import TsIcon from "../components/home/ts-icon.astro";
import SvelteIcon from "../components/home/svelte-icon.astro";
import AstroIcon from "../components/home/astro-icon.astro";
import TwIcon from "../components/home/tw-icon.astro";
import { Clock as ClockIcon, ArrowRight as ArrowRightIcon } from "lucide-astro";

import logoImage from "../img/logo.png";

const quotes = [
  "code whisperer by day, chaos enthusiast by night",
  "freefalling through the internet",
  "the internet is a series of tubes",
  "welcome to the internet, have a look around",
  "it's time to build!",
  "bashing bits and bytes",
  `enjoy your ${new Date()
    .toLocaleDateString("en-US", {
      weekday: "long",
    })
    .toLowerCase()}!`,
  "code is poetry (well, sometimes)",
  "it's time to sail the high seas!",
  "it's better to be a pirate than to join the navy!",
  "aye aye cap'n!",
];
const randomQuote = quotes[Math.floor(Math.random() * quotes.length)];
const initialTime = new Date().toLocaleTimeString("en-GB", {
  timeZone: "Europe/London",
  hour12: true,
  hour: "numeric",
  minute: "numeric",
});

const blogCollection = await getCollection("blog");

const posts = blogCollection.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const latestFivePosts = posts.slice(0, 5);

export const prerender = false;
---

<Layout title="Home">
  <div class="space-y-9">
    <div class="flex flex-col sm:flex-row items-stretch gap-4">
      <div id="hero">
        <div class="mb-2" x-data>
          <h1 class="text-3xl font-bold mb-1">Hey, I'm Mahad! 👋</h1>
          <p class="mb-0 font-mono">{randomQuote}</p>
        </div>
        <div class="space-y-1 mb-6">
          <small class="uppercase font-semibold text-overlay2 mb-4"
            >Technologies</small
          >
          <div
            class="flex gap-4 *:fill-current *:w-8 hover:*:fill-lavender *:transition *:cursor-pointer"
          >
            <RustIcon />
            <TsIcon />
            <SvelteIcon />
            <AstroIcon />
            <TwIcon />
          </div>
        </div>
        <div class="flex w-fit gap-2 mb-4">
          <OnlineStatus />
          <Badge>
            <ClockIcon class="w-3.5 h-3.5" slot="pre" />
            <span slot="content" id="current-time">{initialTime}</span>
          </Badge>
        </div>

        <div class="flex flex-col sm:flex-row gap-3">
          <a href="/posts">
            <Button variant="primary" class="w-full">View my blog</Button>
          </a>
          <Button variant="secondary">Check out my projects</Button>
        </div>
      </div>
      <div class="hidden sm:block sm:w-1/3 h-full ml-auto">
        <div class="relative w-full h-full">
          <Image
            src={logoImage}
            loading="eager"
            alt="Skyfall's logo"
            class="h-full rounded-md shadow-sm object-cover"
          />
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-2.5">
      <div class="flex">
        <h1 class="font-semibold text-lg">Blog</h1>
        <a
          href="/posts"
          class="ml-auto text-subtext0 hover:text-sky transition underline flex gap-1 items-center"
        >
          View all
          <ArrowRightIcon class="w-4 h-4" />
        </a>
      </div>
      <ul class="space-y-2 leading-tight flex flex-col gap-2 sm:gap-0">
        {latestFivePosts.map((post) => <BlogPostPreview post={post} />)}
      </ul>
    </div>
  </div>
</Layout>

<script>
  const timeElement = document.getElementById("current-time");
  if (timeElement) {
    setInterval(() => {
      timeElement.textContent = new Date().toLocaleTimeString("en-GB", {
        timeZone: "Europe/London",
        hour12: true,
        hour: "numeric",
        minute: "numeric",
      });
    }, 1000);
  }
</script>
