---
import { getCollection } from "astro:content";
import ProjectGrid from "@components/misc/project-grid.astro";
import Layout from "@layouts/layout.astro";

const projects = await getCollection("projects");
---

<Layout title="Projects">
  <div class="mt-10 mb-6">
    <h1 class="text-4xl font-extrabold mb-2">Projects</h1>
    <p>Here are some of the projects I've worked on! This isn't an exhaustive list; these are the projects I'm actually willing to show off.</p>
  </div>
  <ProjectGrid projects={projects} />
</Layout>
