---
import { getTimeNow } from "@/util";
---

<div class="space-y-2 my-12">
  <h1 class="text-3xl font-extrabold mb-2">Hey, I'm Mahad! 👋</h1>
  <p>Nice to meet you! I'm a 17-year-old software engineer based in the UK.</p>
  <p>
    I love making cool experiences and technology that people actually like to
    use.
  </p>
  <p>
    I'm also a proud member of <a
      href="https://hackclub.com"
      class="text-accent font-bold underline">Hack Club</a
    > and help run the Newspaper Team there! That includes building infra, working
    with the community to improve their time at Hack Club, and helping promote the
    awesome projects that people make.
  </p>
  <p>
    When I'm not coding, I like reading, music, gaming, and Geocaching when I'm
    outdoors.
  </p>
  <p>
    At the moment, it's <b id="current-time">{getTimeNow()}</b> in the UK (where I
    live).
  </p>
</div>

<script>
  import { getTimeNow } from "@/util";

  function updateElements() {
    const timeElement = document.getElementById("current-time");
    if (timeElement) {
      timeElement.textContent = getTimeNow();
      setInterval(() => {
        timeElement.textContent = getTimeNow();
      }, 1000);
    }
  }

  document.addEventListener("astro:after-swap", updateElements);
  updateElements();
</script>
