---
import { DISCORD_USER_ID } from "astro:env/client";
import { fetchUserData as fetchLanyardUserData } from "lanyard-wrapper";

import Badge from "../ui/badge.astro";
import BadgeCircle from "../ui/badge-circle.astro";

const STATUS_COLOURS = {
  online: "fill-green",
  idle: "fill-yellow-200",
  dnd: "fill-green", // I'm basically always on DND anyway
  offline: "fill-surface1",
};
const STATUS_TEXT = {
  online: "Online",
  idle: "Idle",
  dnd: "Online", // Again, I'm basically always on DND anyway
  offline: "Offline",
};

const d = await fetchLanyardUserData(DISCORD_USER_ID);
const status = d.discord_status;
---

<Badge>
  <BadgeCircle fill={STATUS_COLOURS[status]} slot="pre" />
  <span slot="content">
    {STATUS_TEXT[status]}
  </span>
</Badge>
