---
import { actions } from "astro:actions";
import Chip from "../ui/chip.astro";
import ChipCircle from "../ui/chip-circle.astro";

const STATUS_COLOURS = {
  online: "fill-green",
  idle: "fill-yellow-200",
  dnd: "fill-green", // I'm basically always on DND anyway
  offline: "fill-surface1",
};
const STATUS_TEXT = {
  online: "Online",
  idle: "Idle",
  dnd: "Online", // Again, I'm basically always on DND anyway
  offline: "Offline",
};

const { data } = await Astro.callAction(actions.discord.profile, null);
const status = data?.discord_status;
---

{
  status && (
    <Chip>
      <ChipCircle fill={STATUS_COLOURS[status]} slot="pre" />
      <span slot="content">{STATUS_TEXT[status]}</span>
    </Chip>
  )
}
