---
import type { CollectionEntry } from "astro:content";

import Layout from "./layout.astro";
import FormattedDate from "../components/ui/formatted-date.astro";

type Props = CollectionEntry<"blog">["data"];
const { title, description, pubDate } = Astro.props;
---

<Layout title={title}>
  <div class="mt-12 w-full">
    <div class="text-center">
      <!-- Title, date and description -->
      <div class="not-prose w-full">
        <h1 class="text-4xl w-full font-black text-text mb-1">
          {title}
        </h1>
        <p class="text-lg italic mb-3">{description}</p>
        <div>
          <FormattedDate date={pubDate} />
        </div>
      </div>
    </div>

    <hr class="h-px my-8 bg-surface0 border-0" />

    <div class="prose w-full max-w-full">
      <slot />
    </div>
  </div>
</Layout>
