---
import { ViewTransitions } from "astro:transitions";

import Header from "../components/layout/header.astro";

interface Props {
  title: string;
  description?: string;
}

const DEFAULT_DESCRIPTION =
  "Mahad Kalam (@skyfall)'s personal website. I ramble about Rust, TypeScript, web dev, and more!";
const { title, description = DEFAULT_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} • Mahad Kalam</title>
    <meta property="og:title" content=`${title} • Mahad Kalam` />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />

    <ViewTransitions />
  </head>
  <body
    class="bg-base text-text min-h-screen bg-background font-sans antialiased max-w-2xl mx-auto py-6 sm:py-12 px-6"
  >
    <Header />
    <main><slot /></main>
  </body>
</html>
