name: Run Knip

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-knip:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Run checks
        run: bun check
