---
const { variant = "secondary", class: className } = Astro.props as {
  variant: "primary" | "secondary";
  class?: string;
};
---

<button
  class:list={[
    `rounded-md shadow-sm ${variant == "primary" ? "bg-mauve text-base" : "bg-surface0 text-text"} font-semibold px-4 py-2 hover:brightness-[115%] transition duration-300`,
    className,
  ]}
>
  <slot />
</button>
