---
const { bg = "bg-surface0", border = "border-surface1" } = Astro.props as {
  bg: string;
  border: string;
};
---

<div
  class=`flex flex-col p-4 ${bg} hover:brightness-[110%] transition
${border} hover:text-subtext1 border rounded-lg shadow-sm`
>
  <slot />
</div>
